iframe{
    position: absolute;
    height: 500px;
    left:30%;
    top:1000px;
    width:800px;
    margin-bottom:100px;
}

/* article */
header{
    width:100%;
    height:120px;
}
nav{
	width:100%;
    height:70px;
}
body{
    background-color: white;
}
section{
	padding-left: 200px;
}
footer{
	clear: both;
    width:100%;
    height:50px;
	background:#5aa9e2;
	padding-bottom:10px;
	line-height:10px;
}

/* table */
table{
    border:none;  
    margin:0 auto;
}
table img {
    width:300px;
    height:450px;
}
table img:hover{
    opacity: 0.5;
}
tr{
    width : 300px;
}  

/* place */
table.place_tb img{
	width:500px;
    height:300px;
}
table.place_tb td{
	text-align:center;
}

.toptable{
    width:"100%";
    border:0;
    bgcolor:"black";
    font-color:"white";
}

table.movie_review_form{
	border:0px solid black;
    position: absolute;
    width: 800px;
    left:300px;
    top:950px;
    float: left;
    text-align: left;
}
table.movie_review_form td input{
	width:350px;
	height:40px;
}
table.movie_review_form tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

/* div */
div.aside{
	width:200px;
	height:500px;
	margin-left:85%;
	margin-bottom:50px;
	display:inline-block;
	position:fixed;
}

div.mcon{
    position: absolute;
    left:1000px;
    top:1100px;
    float: right;
}
div.char_img{
    position: absolute;
    top:200px;
    left:30%;
    float: left;
    animation-name: wind;
    animation-duration: 4s;
}
.char_img img{
    width:500px;
    height:400px;
}
div.char_content{
    position: absolute;
    left:53%;
    top:320px;
    float: right;
}
div.char_video{
    position: absolute;
    top:800px;
    left:30%;
}

div.movie_img{
    position: absolute;
    top:130px;
    left:200px;
    float: left;
}
div.movie_content{
    position: absolute;
    width: 800px;
    left:450px;
    top:260px;
    float: left;
    text-align: left;
}
div.movie_review{
    position: absolute;
    width: 800px;
    left:200px;
    top:800px;
    float: left;
    text-align: left;
}


.bab{
    width:100%;
    border:2px solid black;
}


/* text */
p{
    font-size:20px;
}

h1{
    font-size:40px;
    text-align: left;
}
h3{
    font-size:30px;
    text-align: left;
}
h4{
    font-size:25px;
    text-align: left;
}

/* hr */
.hr_bold{
    width:1100px;
    border:2px solid black;
}
.hr_slim{
    width:850px;
    border:1px solid rgb(32, 17, 17);
}

/* ul */
ul.menu {
	padding-left:10px;
    list-style: none;
    background-color: #333;
}
li {
	width:200px;
	font-size:20px; 
	display:inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;
    line-height:15px;
}
a{
	color:white; text-decoration: white;
}
li a:hover {
    background-color: #111;
}
ul.aside_link {
	margin-top:10px;
}

/* image */
#titleimg{
	width:700px;
	height:100px;
	position:static;
}
.banner_img{
	width:180px;
	height:150px;
}
